# ignore all .log files
*.log

# ignore all temp files
*.tmp

# ignore all python cache
__pycache__/

# ignore all vscode config
.vscode/

# ignore all R console history
.Rhistory

# ignore all ~ file
*~
